
div.app-err-cont {
	width: fit-content;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 50px;
	z-index: 25 !important;
	text-align: left;
	user-select: none;
}
div.app-err-cont > div.app-err-d {
	width: 100%;
	height: fit-content;
	padding: 10px 15px;
	margin: 0;
	display: flex;
	border: 1px solid var(--fg-neg);
	border-radius: 5px;
	background-color: var(--bg-neg-fade);
}
div.app-err-cont > div.app-err-d > h3 {
	margin: auto auto auto 0;
	font-family: 'Nexa', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: var(--fg-neg);
}
div.app-err-cont > div.app-err-d > div.err-loader {
	height: 35px;
	margin: auto 0 auto 45px;
}
div.app-err-cont > div.app-err-d > div.err-loader > div {
	width: 21px;
	height: 21px;
	margin: 8px 6px 8px auto;
	display: inline-block;
	border: 2px solid var(--fg-neg);
	border-bottom-color: transparent;
	border-radius: 20px;
	box-sizing: border-box;
	animation: errbarrotate 1s linear infinite;
	-webkit-animation: errbarrotate 1s linear infinite;
}
@keyframes errbarrotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}