.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.modal {
  max-width: 500px;
  width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  padding: 45px 30px;
  box-sizing: border-box;
  border: 1px solid var(--brd-light);
  border-radius: 10px;
  background: var(--white);
  animation: modalSlideIn 0.2s ease-out;
}
.header {
  margin: 0 0 12px 0;
  padding: 0;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 30px auto;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-hl-fade2);
}

.icon svg {
  width: 30px;
  height: 30px;
  color: var(--main-hl);
}

.title {
  margin: 0;
  font-family: "Circular", "Geist", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: var(--black);
}

.content {
  padding: 0;
  text-align: center;
}

.message {
  margin: 0;
  font-family: "Circular", "Geist", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-light);
  line-height: 1.5;
}

.subtitle {
  margin: 0;
  font-family: "Circular", "Geist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-light);
  line-height: 1.4;
}

.buttons {
  padding: 0;
  margin: 40px 0 0 0;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.buttonSecondary,
.buttonPrimary {
  padding: 13px 20px;
  border-radius: 6px;
  font-family: "Circular", "Geist", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--brd-light);
}

.buttonSecondary {
  background-color: var(--white);
  color: var(--txt-light);
}

.buttonSecondary:hover {
  background-color: var(--txt-light-3);
  color: var(--txt-light-2);
}

.buttonPrimary {
  flex: 1 1;
  background-color: var(--main-hl);
  color: var(--white);
  border-color: var(--main-hl);
}

.buttonPrimary:hover {
  filter: brightness(1.1);
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}