/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Typography */
.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #fff;
}

.availableCredits {
  font-family: "Sohne Mono", monospace;
  font-size: 64px;
  font-weight: 400;
  color: var(--main-hl);
  margin-top: 1rem;
}

.verificationText {
  color: #fff;
  font-family: "Sohne", monospace;
}

.packagesButton {
  font-family: "Sohne", sans-serif;
  background-color: var(--main-hl);
  color: var(--white);
  border: none;
  padding: 0.8rem 1.2rem;
  /* margin-top: 8px; */
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease;
  display: block;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.packagesButton:hover {
  filter: brightness(1.1);
}

.innerContainer {
  width: fit-content;
  display: inline-block;
}
