.auth-cont {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.auth-cont .loginForm {
  width: calc(100% - 60px);
  max-width: 450px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-cont .logo {
  height: 40px;
  width: auto;
  margin: 0 auto 30px 0;
}
.auth-cont .title {
  margin: 0 auto 50px 0;
  font-family: "Nexa";
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: var(--black);
}
.auth-cont .label {
  width: 100%;
  margin-bottom: 30px;
}
.auth-cont .subtitle {
  margin: 0 auto 10px 0;
  font-family: "Nexa";
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}
.auth-cont .label > input {
  height: 45px;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid var(--brd-light);
  border-radius: 8px;
  font-family: "Nexa";
  font-weight: 400;
  font-size: 15px;
  color: var(--black);
  background-color: var(--white);
}
.auth-cont .button {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-family: "Nexa";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: var(--white);
  background-color: var(--main-hl);
  cursor: pointer;
}
.auth-cont .buttons {
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--brd-light);
  gap: 15px;
  width: 100%;
}
.auth-cont .buttons > button {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--brd-light);
  border-radius: 8px;
  font-family: "Nexa";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: var(--black);
  background-color: var(--white);
}
.auth-cont .buttons > button > svg {
  margin: auto 10px auto 0;
  height: 18px;
  width: auto;
}
